.xeditable {
    text-decoration: none;
    border-bottom: dashed 0.05rem purple;
}

.results {
    font-size: 1.5rem;
    line-height: 2rem;
}

mat-card {
    background-color: #B00020;
    color: #FFFFFF;
}
