<div style="text-align:center" class="page">
        <app-project-select [projects]="(projects | async)['list']"></app-project-select>

        <ng-container *ngIf="(projects | async)['selected'] as selectedProject">
            <app-code-search (searchString)="beginSearch($event, selectedProject)"></app-code-search>

            <mat-spinner aria-label="loading acronym results" *ngIf="(acronymResult | async)['loading']"></mat-spinner>
            <app-result [result]="(acronymResult | async)['acronym']" (saveAcronym)="save($event, selectedProject)"></app-result>
        </ng-container>

</div>
