language: node_js
node_js:
  - "10"
dist: trusty
sudo: false

cache:
  directories:
    - node_modules

addons:
  chrome: stable

before_script:
  - npm install -g firebase-tools
  - npm install -g @angular/cli

script:
  - npm run lint
  - npm run build
  - xvfb-run npm run e2e
