.page {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

:host ::ng-deep .acronym-form {
    display: flex;
    flex-direction: column;
}

/*:host ::ng-deep mat-form-field > * {*/
    /*width: 100%;*/
/*}*/

mat-spinner {
    margin:0 auto;
}
