<ng-container *ngIf="(projectList$ | async) as projects">
    <div style="text-align:center" class="page">
        <div fxLayout="row wrap" fxLayoutGap="1%" fxLayoutAlign="left" class="project-grid container">
            <mat-card
                *ngFor="let project of projects"
                (click)="makeDefault(project.name)"
                fxFlex="24%"
                class="card"
                [ngClass]="{'selected-card': currentDefaultProject?.projectName == project.name}"
            >
                <mat-card-title>{{project.name}}</mat-card-title>
                <mat-card-actions>
                    <ng-container *ngIf="currentDefaultProject?.projectName != project.name">
                        <button mat-button><mat-icon>star</mat-icon>Make Default</button>
                        <button mat-button class="delete" (click)="deleteProject(project.id)">Delete Project</button>
                    </ng-container>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="bottom-right">
        <button mat-fab (click)="openAddDialog(projects)"><mat-icon>add</mat-icon></button>
    </div>
</ng-container>
