<div style="text-align:center" class="page" *ngIf="(currentUser$ | async) as currentUser">
    <!--<mat-card>-->
    <mat-form-field>
        <mat-label>Project Name</mat-label>
        <input matInput placeholder="Project Name" [formControl]="projectName">
    </mat-form-field>
    <mat-icon aria-label="Add Project" (click)="addProject(projectName.value)">add</mat-icon>
    <!--</mat-card>-->
    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="left" class="project-grid">
        <mat-card *ngFor="let project of (projectList$ | async)" fxFlex="25%" class="card">
            <mat-card-title>{{project.name}}</mat-card-title>
            <mat-card-actions>
                <button mat-button (click)="makeDefault(project.name, currentUser.uid)">Make My Default</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
