<mat-sidenav-container [style.height]="'100%'" (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav [style.width]="'15%'"> <!--TODO FIX THIS width to flex layout-->
        <div *ngIf="authService.user | async as user" fxLayout="row">
            <mat-list [style.width]="'100%'">
                <mat-list-item>
                    <img class="user-img mr-1" [src]="user.photoURL"> {{user.displayName}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-flat-button="">Projects</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-flat-button="">Report Issue</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-flat-button (click)="authService.signOut()">Logout</button>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div fxLayout="row" fxLayoutAlign="start">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

