/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    height: 100%;
}

body {
    font-family: Roboto;
}

.user-img {
    height: 40px;
    border-radius: 50%;
}

.mr-1 {
    margin-right: 1rem;
}
