/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    height: 100%;
}

body {
    font-family: Roboto;
}

.user-img {
    height: 40px;
    border-radius: 50%;
}

.mr-1 {
    margin-right: 1rem;
}

.selected-card {
    background-color: #0c71c3;
    color: #ffffff;
}

.container {
    min-width: 10%;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.danger-text {
    color: #B00020;
}

mat-form-field {
    width: 100%;
}
